<div class="container">
	<form id="edit-sight" action="/profile/edit/<%= edit.id %>" method="PUT">
	
	<h2 class="mb-4" id="editsight-head"><strong>Edit Sighting</strong></h2>	

	<div class="form-row mb-4">
		<div class="col">
			<label>Group Size</label>
			<select class="form-control" name="group_size" placeholder="Group Size">
			  <option selected><%= edit.group_size%></option>
		      <option>1</option>
		      <option>2</option>
		      <option>3</option>
		      <option>4</option>
		      <option>5</option>
		      <option>6</option>
		      <option>7</option>
		      <option>8</option>
		      <option>9</option>
		      <option>10</option>
		      <option>More than 10</option>
		    </select>
		</div>
		<div class="col">
			<label>Activity:</label>
			<select class="form-control" name="activity" placeholder="What activity?">
			  <option selected><%= edit.activity %></option>
		      <option>Hunting</option>
		      <option>Hiking</option>
		      <option>Climbing</option>
		      <option>Fishing</option>
		      <option>Camping</option>
		      <option>Biking</option>
		      <option>Other...</option>
		    </select>
		</div>
		<div class="col">
			<label>Time Spent Doing Your Activty</label>
			<input type="text" class="form-control" name="effort_time" placeholder="In hours please!" value="<%= edit.effort_time %>">
		</div>
	</div>
	<div class="form-row mb-4">
		<div class="col">
			<label>Distance Traveled (miles)</label>
			<input type="number" class="form-control" name="effort_distance" value="<%= edit.effort_distance %>">
		</div>
		<div class="col">
			<label>Start location (Trailhead, nearby creek, etc)</label>
			<input type="text" class="form-control" name="start_point" value="<%= edit.start_point %>">
		</div>
		<div class="col">
			<label>Ending location (Trailhead, nearby creek, etc)</label>
			<input type="text" class="form-control" name="end_point" value="<%= edit.end_point %>">
		</div>
	</div>
	<hr>

<p><u>Edit your sighting</u></p>
	<div class="form-row mb-4">
		<div class="col">
			<label>Date seen:</label>
			<input type="date" class="form-control" name="date" value="<%= edit.date %>">
		</div>
		<div class="col">
			<label>Time seen:</label>
			<input type="time" class="form-control" name="time" value="<%= edit.time %>">
		</div>
		<div class="col">
			<label>General Location Seen:</label>
			<input type="text" class="form-control" name="general_location" value="<%= edit.general_location%>">
		</div>
	</div>
	<div class="form-row mb-4">
		<div class="col">
			<label>Species</label>
			<select class="form-control" name="species">
			  <option selected><%= edit.species %></option>
		      <option>White-Tailed Deer</option>
		      <option>Mule Deer</option>
		      <option>Elk</option>
		      <option>Moose</option>
		      <option>Black Bear</option>
		      <option>Mountain Lion</option>
		      <option>Wolf</option>
		    </select>
		</div>
		<div class="col">
			<label>Number Seen</label>
			<input type="number" class="form-control" name="animal_count" value="<%= edit.animal_count%>">
		</div>
		<div class="col">
			<label>Sex</label>
			<select class="form-control" name="sex">
			  <option selected><%= edit.sex %></option>
		      <option>Male</option>
		      <option>Female</option>
		      <option>Unknown</option>
		    </select>
		</div>
		<div class="col">
			<label>Age</label>
			<select class="form-control" name="age">
			  <option selected><%= edit.age %></option>
		      <option>Adult</option>
		      <option>Sub-Adult</option>
		      <option>Juvenile</option>
		      <option>Young of Year</option>
		    </select>
		</div>
	</div>
	<div class="form-row mb-4">
		<div id="map"></div>
	</div>
	<div class="form-row mb-4">
		<div class="col">
			<label>Comments</label>
			<textarea class="form-control" name="comments" rows="3"><%= edit.comments%></textarea>
		</div>
	</div>

	<button class="btn btn-info my-4 btn-block" type="submit">Report Your Sighting</button>

</form>
</div>


<script type="text/javascript">
	//var wildlife = ['<%= edit.latitude %>', '<%= edit.longitude %>'];
	var marker;
	//console.log('wildlife is', wildlife);
	function initMap(){
		console.log("initMap is running")
		  var myLatlng = new google.maps.LatLng(<%= edit.latitude %>, <%= edit.longitude %> );

		  var map = new google.maps.Map(document.getElementById('map'), {
		    center: myLatlng,
		    zoom: 8
		  });

		  var bounds = new google.maps.LatLngBounds();

		  console.log('map finished running')
	
		   
		  function loadMarkers(){
		  		console.log('trying to run loadMarker')
		        var position = new google.maps.LatLng(<%= edit.latitude %>, <%= edit.longitude %>);

		          //Some code here to extend bounds if needed
		          bounds.extend( position );

		         marker = new google.maps.Marker({
		            animation: google.maps.Animation.DROP,
		            map: map,
		            position: position
		          }) // end marker crea 
		}
		loadMarkers();
	}	

</script>