
<h1>This will show all past sightings</h1>

<div id="map" class="past">
	
</div>
 <br>

<h3><%= user.firstname %>'s Sightings</h3>
<hr>

<% user.wildlife.forEach(function(sighting){%>
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title"><%= sighting.species %></h5>
	    <h6 class="card-subtitle mb-2 text-muted"><%= sighting.date %></h6>
	    <p class="card-text"><%= sighting.general_location %></p>
	    <a href="/profile/edit/<%= sighting.id %>" class="btn btn-warning">Edit</a>
	    <a href="/profile/<%= sighting.id %>" class="btn btn-danger" id="delete">Delete</a>
	  </div>
	</div>
	<br>
<%})%>




<script type="text/javascript">
	var wildlife = [];
	<% user.wildlife.forEach(function(animal){ %>
		wildlife.push(['<%= animal.latitude %>', '<%= animal.longitude %>']);
	<% }); %>

	function initMap(){
		  var myLatlng = new google.maps.LatLng(48.4779,-120.1862);

		  map = new google.maps.Map(document.getElementById('map'), {
		    center: myLatlng,
		    zoom: 8
		  });

		  var bounds = new google.maps.LatLngBounds();
		   
		  function loadMarkers(){
		        for(var i = 0; i < wildlife.length; i++){
		        	if(wildlife[i] && wildlife[i][0]){
	        		  var coordinate = wildlife[i];
			          var position = new google.maps.LatLng(coordinate[0], coordinate[1]);
			          console.log(position)
			          //Some code here to extend bounds if needed
			          bounds.extend( position );

			          var marker = new google.maps.Marker({
			            animation: google.maps.Animation.DROP,
			            map: map,
			            position: position
			          }) // end marker creation
		        	} // end if statement that checks for empties
		        } //end for loop
		      } //end loadMarkers

		    loadMarkers(); 
		}
</script>




